@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
    height: 2px;
}

/* Track */
.hide-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.hide-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
.hide-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}